<div class="w-full border rounded-lg shadow">
    {% if campaign.cover and campaign.cover.file %}
        <a href="{{ campaign.url }}"
        class="block">
            <img src="{{ campaign.cover.file.url }}"
                class="w-full h-60 object-cover rounded-t-lg"
                alt="{{ campaign.title }}"/>
        </a>
    {% endif %}
    <div class="p-4  h-60 relative">
        <a href="{{ campaign.url }}"
           class="block hover:text-[var(--primary-bg-color)]">
            <h3 class="font-bold text-lg">{{ campaign.title }}</h3>
        </a>
        {% if campaign.content %}
            <p class="text-gray-500 text-sm mt-4">{{ campaign.content|striptags|truncate(150)}}</p>
        {% endif %}
        <div class="grid grid-cols-3 items-center gap-4 items-center mt-10 absolute bottom-5 left-5 right-5">
            <a href="/campaigns/{{ campaign.slug }}/donate"
               class="btn-primary btn-sm block md:inline-block col-span-3 md:col-span-1">Dona</a>
            {% if campaign.goal %}
                <div class="pl-4 hidden md:block">
                    <div class="text-[var(--primary-bg-color)] font-bold text-lg">{{ campaign.goal }} €</div>
                    <div>Goal</div>
                </div>
            {% endif %}
            <div class="pl-4 hidden md:block">
                <div class="text-[var(--primary-bg-color)] font-bold text-lg">12.000 €</div>
                <div>Raccolto</div>
            </div>
        </div>
    </div>
</div>
