<div class="{% if campaign.cost_examples|count == 0 %}sticky{% endif %} top-4 bg-white">
    
    <div class="border shadow-xl rounded-xl px-8 py-10">

        {% if campaign.is_goal_enabled and campaign.goal %}
            <div class="mb-5">
                {% if hide_total_donated %}
                    <div class="text-center">
                        <div class="text-4xl font-bold">{{ campaign.goal|int }} € </div>
                        <div class="pb-1 text-sm text-gray-500 ">obiettivo di raccolta</div>
                    </div>
                {% else %}
                    <div class="text-center flex flex-col gap-4">
                        <div class="text-5xl font-bold">
                            {% if peer_campaign %}
                                {{ peer_campaign.stats.amount|int }} € 
                            {% else %}
                                {{ campaign.total_donated|int }} € 
                            {% endif %}
                        </div>
                        <div class="pb-1 text-base text-gray-500 ">Obiettivo <b>{{ campaign.goal|int }}€</b></div>
                    </div>
                    <div class="w-full bg-gray-200 rounded-full h-1.5 my-4">
                        <div class="bg-[color:var(--primary-bg-color)] h-1.5 rounded-full"
                            style="width: {{ [campaign.goal_percentage, 100]|min }}%"></div>
                    </div>
                {% endif %}
            </div>
        {% else %}
            {% if not hide_total_donated %}
                <div class="text-center flex flex-col mb-5">
                    <div class="text-5xl font-bold">
                        {% if peer_campaign %}
                            {{ peer_campaign.stats.amount|int }} € 
                        {% else %}
                            {{ campaign.total_donated|int }} € 
                        {% endif %}
                    </div>
                    <div class="text-base text-gray-500 ">Raccolti </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="gap-2 flex flex-col">
            <a class="block btn-primary" href="/campaigns/{{ campaign.slug }}/donate/">Dona ora</a>

            {% if campaign.allow_peer_to_peer and not peer_campaign%}
                <a class="block btn-outline mt-2"
                href="/campaigns/{{ campaign.slug }}/fundraise/">Raccogli donazioni</a>
            {% endif %}

            {% with url=current_url %}
                {% include 'snippets/share-button.html' %}
            {% endwith %}
        </div>
        
        {% if not hide_total_donations and false%}
            <div class="pb-1 text-md text-gray-500 dark:text-gray-400">{{campaign.total_donations}} donazioni</div>
        {% endif %}
        
        {% if campaign.total_donations > 0 and not hide_donations%}
            <div class="mt-5 ">
                <div class="font-bold mb-3">Ultime donazioni</div>
                {% for donation in campaign.public_donations[:3] %}
                    {% include 'snippets/donation-list-item.html' %}
                {% endfor %}

                <button onclick="openModal('donation-modal')" class="block btn-outline text-sm w-full">Mostra tutte le donazioni</button>
            </div>
        {% endif %}
    </div>
</div>


<script>
  function toggleDescription() {
    var container = document.getElementById('description-container');
    if (container.classList.contains('max-h-[1000px]')) {
      container.classList.remove('max-h-[1000px]');
      container.classList.add('max-h-none');
      document.getElementById('show-all-btn').innerText = 'Mostra meno';
    } else {
      container.classList.add('max-h-[1000px]');
      container.classList.remove('max-h-none');
      document.getElementById('show-all-btn').innerText = 'Mostra tutto';
    }
  }

  function openModal(modalId) {
    document.getElementById(modalId).classList.remove('hidden')
    document.getElementsByTagName('body')[0].classList.add('overflow-y-hidden')
  }

  function closeModal(modalId) {
    document.getElementById(modalId).classList.add('hidden')
    document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
  }

  // Close all modals when press ESC
  document.onkeydown = function(event) {
      event = event || window.event;
      if (event.keyCode === 27) {
          document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
          let modals = document.getElementsByClassName('modal');
          Array.prototype.slice.call(modals).forEach(i => {
              i.classList.add('hidden')
          })
      }
  };

</script>
