{% macro render_input(field_name, label_text) %}
    {% if field_name in campaign.shown_fields %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold" for="id_{{ field_name }}">
                {{ label_text }}
                {% if field_name in campaign.required_fields %}
                *
                {% endif %}
            </label>
            <input
                class="mt-2 bg-gray-100 appearance-none rounded w-full text-sm p-2 text-gray-700 focus:outline-none focus:shadow-outline"
                type="text" id="id_{{ field_name }}" name="{{ field_name }}" value="{{ form[field_name].value() or '' }}" 
                {% if field_name in campaign.required_fields %}required{% endif %}/>
            {% if form.errors[field_name] %}
            <p class="text-red-500 p-2 text-sm">{{ form.errors[field_name].as_text() }}</p>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

<div class=" border px-5 py-8 sticky top-4">
    <form method="post" class="bg-white mb-4">
        {% if lead_form_success %}
        <p class="block text-center text-green-600 text-md font-medium mb-2">Grazie, ti terremo aggiornato su questa
            campagna</p>
        {% else %}
        <p class="block text-center text-gray-600 text-md font-medium mb-2">Lascia il tuo contatto</p>

        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

        {{ render_input("first_name", "Nome") }}
        {{ render_input("last_name", "Cognome") }}
        {{ render_input("business_name", "Ragione Sociale") }}
        {{ render_input("email", "Email") }}
        {{ render_input("phone", "Telefono") }}
        {{ render_input("mobile", "Cellulare") }}
        {{ render_input("ssn", "Codice Fiscale") }}
        {{ render_input("vat", "Partita IVA") }}
        {{ render_input("country", "Paese") }}
        {{ render_input("city", "Città") }}
        {{ render_input("locality", "Provincia") }}
        {{ render_input("postal_code", "Codice Postale") }}
        {{ render_input("address", "Indirizzo") }}

        <div class="mb-4">
            <div class="flex">
                <div class="flex items-center h-5">
                    <input id="id_privacy" name="privacy" aria-describedby="helper-checkbox-text" type="checkbox"
                        required
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                </div>
                <div class="ml-2 text-sm">
                    <label for="id_privacy" class=" text-gray-900 dark:text-gray-300">Ho letto e accetto 
                        <a href="/policies/privacy-policy/" target="_blank">la privacy policy</a> e
                        <a href="/policies/terms-of-service/" target="_blank">le codizioni d'uso</a>
                    </label>
                </div>
                {% if form.errors.privacy %}
                <p class="text-red-500 p-2 text-sm">{{ form.errors.privacy.as_text() }}</p>
                {% endif %}
            </div>
        </div>

        <div class="flex items-center justify-between">
            <button class="btn-primary w-full" type="submit">Iscrivimi</button>
        </div>
        {% endif %}
    </form>
</div>
