
{% if campaign.cost_examples %}
    <div class="mt-10 px-5">
        <h4>Ecco come puoi aiutare</h4>
        <div class="mt-5 flex flex-col gap-5">
            {% for cost_example in campaign.cost_examples %}
                <div>
                    <img src="{{cost_example.image}}" alt="{{cost_example.description}}" class="w-max object-cover">
                    <div class="text-xm text-primary">con</div>
                    <div class="text-3xl font-bold text-primary">{{cost_example.amount}} €</div>
                    <div class="my-2">{{cost_example.description}}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}