<div class=" border px-5 py-8 sticky top-4">
    <form method="post" class="bg-white mb-4">
        {% if lead_form_success %}
        <p class="block text-center text-green-600 text-md font-medium mb-2">Grazie, ti terremo aggiornato su questa
            campagna</p>
        {% else %}
        <p class="block text-center text-gray-600 text-md font-medium mb-2">Lascia il tuo contatto</p>

        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        {% if "business_name" in campaign.shown_fields %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold" for="id_business_name">
                    Ragione sociale
                    {% if "business_name" in campaign.required_fields %}
                    *
                    {% endif %}
                </label>
                <input
                    class="mt-2 bg-gray-100 appearance-none rounded w-full text-sm p-2 text-gray-700 focus:outline-none focus:shadow-outline"
                    type="text" id="id_business_name" name="business_name" value="{{ form.business_name.value() or '' }}" autofocus
                    {% if "business_name" in campaign.required_fields %}required{% endif %} />
                {% if form.errors.business_name %}
                <p class="text-red-500 p-2 text-sm">{{ form.errors.business_name.as_text() }}</p>
                {% endif %}
            </div>
        {% endif %}

        {% if "first_name" in campaign.shown_fields %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold" for="id_first_name">
                    Nome
                    {% if "first_name" in campaign.required_fields %}
                    *
                    {% endif %}
                </label>
                <input
                    class="mt-2 bg-gray-100 appearance-none rounded w-full text-sm p-2 text-gray-700 focus:outline-none focus:shadow-outline"
                    type="text" id="id_first_name" name="first_name" value="{{ form.first_name.value() or '' }}" autofocus
                    {% if "first_name" in campaign.required_fields %}required{% endif %} />
                {% if form.errors.first_name %}
                <p class="text-red-500 p-2 text-sm">{{ form.errors.first_name.as_text() }}</p>
                {% endif %}
            </div>
        {% endif %}

        {% if "last_name" in campaign.shown_fields %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold" for="id_last_name">
                Cognome
                {% if "last_name" in campaign.required_fields %}
                *
                {% endif %}
            </label>
            <input
                class="mt-2 bg-gray-100 appearance-none rounded w-full text-sm p-2 text-gray-700 focus:outline-none focus:shadow-outline"
                type="text" id="id_last_name" name="last_name" value="{{ form.last_name.value() or '' }}"
                {% if "last_name" in campaign.required_fields %}required{% endif %} />
            {% if form.errors.last_name %}
            <p class="text-red-500 p-2 text-sm">{{ form.errors.last_name.as_text() }}</p>
            {% endif %}
        </div>
        {% endif %}

        {% if "email" in campaign.shown_fields %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold" for="id_email">
                    Email
                    {% if "email" in campaign.required_fields %}
                    *
                    {% endif %}
                </label>
                <input
                    class="mt-2 bg-gray-100 appearance-none rounded w-full text-sm p-2 text-gray-700 focus:outline-none focus:shadow-outline"
                    type="text" id="id_email" name="email" value="{{ form.email.value() or '' }}" 
                    {% if "email" in campaign.required_fields %}required{% endif %} />
                {% if form.errors.email %}
                <p class="text-red-500 p-2 text-sm">{{ form.errors.email.as_text() }}</p>
                {% endif %}
            </div>
        {% endif %}

        {% if "phone" in campaign.shown_fields %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold" for="id_phone">
                    Telefono
                    {% if "phone" in campaign.required_fields %}
                    *
                    {% endif %}
                </label>
                <input
                    class="mt-2 bg-gray-100 appearance-none rounded w-full text-sm p-2 text-gray-700 focus:outline-none focus:shadow-outline"
                    type="text" id="id_phone" name="phone" value="{{ form.phone.value() or '' }}" 
                    {% if "phone" in campaign.required_fields %}required{% endif %}/>
                {% if form.errors.phone %}
                <p class="text-red-500 p-2 text-sm">{{ form.errors.phone.as_text() }}</p>
                {% endif %}
            </div>
        {% endif %}

        {% if "ssn" in campaign.shown_fields %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold" for="id_ssn">
                    Codice Fiscale
                    {% if "ssn" in campaign.required_fields %}
                    *
                    {% endif %}
                </label>
                <input
                    class="mt-2 bg-gray-100 appearance-none rounded w-full text-sm p-2 text-gray-700 focus:outline-none focus:shadow-outline"
                    type="text" id="id_ssn" name="ssn" value="{{ form.ssn.value() or '' }}" 
                    {% if "ssn" in campaign.required_fields %}required{% endif %}/>
                {% if form.errors.ssn %}
                <p class="text-red-500 p-2 text-sm">{{ form.errors.ssn.as_text() }}</p>
                {% endif %}
            </div>
        {% endif %}

        {% if "vat" in campaign.shown_fields %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold" for="id_vat">
                    Partita IVA
                    {% if "vat" in campaign.required_fields %}
                    *
                    {% endif %}
                </label>
                <input
                    class="mt-2 bg-gray-100 appearance-none rounded w-full text-sm p-2 text-gray-700 focus:outline-none focus:shadow-outline"
                    type="text" id="id_vat" name="vat" value="{{ form.vat.value() or '' }}" 
                    {% if "vat" in campaign.required_fields %}required{% endif %}/>
                {% if form.errors.vat %}
                <p class="text-red-500 p-2 text-sm">{{ form.errors.vat.as_text() }}</p>
                {% endif %}
            </div>
        {% endif %}


        <div class="mb-4">
            <div class="flex">
                <div class="flex items-center h-5">
                    <input id="id_privacy" name="privacy" aria-describedby="helper-checkbox-text" type="checkbox"
                        required
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                </div>
                <div class="ml-2 text-sm">
                    <label for="id_privacy" class=" text-gray-900 dark:text-gray-300">Ho letto e accetto 
                        <a href="/policies/privacy-policy/" target="_blank">la privacy policy</a> e
                        <a href="/policies/terms-of-service/" target="_blank">le codizioni d'uso</a>
                    </label>
                </div>
                {% if form.errors.privacy %}
                <p class="text-red-500 p-2 text-sm">{{ form.errors.privacy.as_text() }}</p>
                {% endif %}
            </div>
        </div>

        <div class="flex items-center justify-between">
            <button class="btn-primary w-full" type="submit">Iscrivimi</button>
        </div>
        {% endif %}
    </form>
</div>