<div class="px-5 {% if campaign.cost_examples|count == 0 %}sticky{% endif %} top-4 bg-white">
    

    {% if campaign.is_goal_enabled and campaign.goal %}
        <div class="mb-10">
            {% if section.settings.hide_total_donated %}
                <div class="flex gap-2 items-end">
                    <div class="text-3xl font-bold">{{ campaign.goal|int }}€ </div>
                    <div class="pb-1 text-sm text-gray-500 ">obiettivo di raccolta</div>
                </div>
            {% else %}
                <div class="flex gap-2 items-end">
                    <div class="text-3xl font-bold">{{ campaign.total_donated|int }}€ </div>
                    <div class="pb-1 text-sm text-gray-500 ">raccolti su un obiettivo di {{ campaign.goal|int }}€</div>
                </div>
            {% endif %}
            <div class="w-full bg-gray-200 rounded-full h-1.5 my-4">
                <div class="bg-[color:var(--primary-bg-color)] h-1.5 rounded-full"
                    style="width: {{ campaign.goal_percentage }}%"></div>
            </div>
            {% if not section.settings.hide_total_donations %}
                <div class="pb-1 text-md text-gray-500 dark:text-gray-400">{{campaign.total_donations}} donazioni</div>
            {% endif %}
        </div>
    {% endif %}

    <div class="gap-3 flex flex-col">
        <a class="block btn-primary"
           href="/campaigns/{{ campaign.slug }}/donate">Dona ora</a>

        {% if campaign.allow_peer_to_peer %}
            <a class="block btn-outline mt-2"
               href="/campaigns/{{ campaign.slug }}/fundraise">Raccogli donazioni</a>
        {% endif %}

        {% with url=current_url %}
            {% include 'snippets/share-button.html' %}
        {% endwith %}
    </div>
</div>
