<div class="px-5 py-8 {% if campaign.cost_examples|count == 0 %}sticky{% endif %} top-4 bg-white">
    <div class="flex items-end">
        <h3 class="text-gray-800  text-4xl">{{ campaign.total_donated }} €</h3>
        <span class="text-gray-500 ml-2 font-bold text-md">raccolti</span>
        {% if campaign.is_goal_enabled and campaign.goal %}<span class="text-gray-500 ml-2 font-bold text-md">di {{ campaign.goal }} €</span>{% endif %}
    </div>

    {% if campaign.is_goal_enabled and campaign.goal %}
        <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700 my-4">
            <div class="bg-[color:var(--primary-bg-color)] h-1.5 rounded-full"
                style="width: 45%"></div>
        </div>
    {% endif %}

    <div class="text-lg text-gray-500 mt-2">{{ campaign.total_donations }} donazioni</div>

    <div class="mt-8 gap-3 flex flex-col">
        <a class="block btn-primary"
           href="/campaigns/{{ campaign.slug }}/donate">Dona ora</a>

        {% if campaign.allow_peer_to_peer %}
            <a class="block btn-outline mt-2"
               href="/campaigns/{{ campaign.slug }}/fundraise">Raccogli donazioni</a>
        {% endif %}

        {% with url=current_url %}
            {% include 'snippets/share-button.html' %}
        {% endwith %}
    </div>
</div>
