{% if supporter %}
  <div id="avatarButton"
       type="button"
       class="relative bg-gray-100 ml-5 rounded-full cursor-pointer"
       data-dropdown-toggle="userDropdown"
       data-dropdown-placement="bottom-start">
    {% if supporter.image %}
      <img class="w-8 h-8 rounded-full object-cover object-center"
           src="{{ supporter.image.url }}"
           alt="{{ supporter }}" />
    {% else %}
      <span class="flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full text-sm font-medium text-gray-600 ">{{ supporter.initial }}</span>
    {% endif %}
  </div>
  <!-- Dropdown menu -->
  <div id="userDropdown"
       class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 ">
    <div class="px-4 py-3 text-sm text-gray-900">
      <div>{{ supporter.name }}</div>
      <div class="font-medium truncate">{{ supporter.email }}</div>
    </div>
    <ul class="py-1 text-sm text-gray-700 list-none"
        aria-labelledby="avatarButton">
      <li>
        <a href="{{ supporter_urls.dashboard }}"
           rel="keep-params"
           class="block px-4 py-2 hover:bg-gray-100">Bacheca</a>
      </li>
      <li>
        <a href="{{ supporter_urls.profile }}"
           rel="keep-params"
           class="block px-4 py-2 hover:bg-gray-100">Il mio profilo</a>
      </li>
      <li>
        <a href="{{ supporter_urls.donations }}"
           rel="keep-params"
           class="block px-4 py-2 hover:bg-gray-100">Le mie donazioni</a>
      </li>
      <li>
        <a href="{{ supporter_urls.campaigns }}"
           rel="keep-params"
           class="block px-4 py-2 hover:bg-gray-100">Le mie campagne</a>
      </li>
    </ul>
    <div class="py-1">
      <a href="{{ supporter_urls.logout }}"
         class="block px-4 py-2 text-sm hover:bg-gray-100 ">Esci</a>
    </div>
  </div>
{% else %}
  <a class="ml-8 hover:underline header-fg"
     href="{{ supporter_urls.login }}">Accedi</a>
{% endif %}
