<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>

    {{ content_for_header }}

    <style>
        :root {
            --primary-fg-color: {{ theme.primary_fg_color }};
            --primary-bg-color: {{ theme.primary_bg_color }};
        }
    </style>

    {% style 'main.css' %}
</head>
<body>
    {% section 'banner' %}
    {% section 'header' %}

    {{ content_for_layout }}
    
    {% section 'footer' %}
</body>
</html>