<style>
  .footer {
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.fg_color }};
  }

  .footer a {
    color: {{ section.settings.fg_color }};
  }
</style>

<div class="footer">
  <div class="container py-12 md:py-20">
    <div class="flex justify-between flex-col md:flex-row">
      {% for key, b in section.blocks.items() %}
 
        {% if b.type == "links" %}
          <div class="text-center mx-auto">
            <h5 class="mb-5">{{ b.settings.title }}</h5>
            <div class="flex flex-col md:flex-row justify-between items-center gap-0 md:gap-10">
              {% for item in b.settings.menu.menu_items %}
                <div class="my-2">
                  <a href="{{ item.link }}"
                     class="hover:underline">{{ item.label }}</a>
                </div>
              {% endfor %}
            </div>
          </div>
        {% elif b.type == "infos" %}
          <div class="gap-4">
            <h5>{{ b.settings.title }}</h5>
            <p class="font-light">{{ b.settings.subtitle }}</p>
          </div>
        {% elif b.type == "image" %}
          <img src="{{ b.settings.image }}"
               alt=""/>
        {% endif %}
 
      {% endfor %}
    </div>
  </div>
  {% if section.settings.copyright %}
    <div class="py-4 text-center text-sm font-light"
         style="filter: brightness(0.9);
                background-color: {{ section.settings.bg_color }}">
      {{ section.settings.copyright }}
    </div>
  {% endif %}
</div>

{# djlint:off #}
{% schema %}
{
   "name":"Footer",
   "limit":1,
   "settings":[
      {
         "id":"bg_color",
         "type":"color_picker",
         "label":"Colore di sfondo",
         "default":"#dbdbdb"
      },
      {
         "id":"fg_color",
         "type":"color_picker",
         "label":"Colore del testo",
         "default":"#666"
      },
      {
         "id":"show_payment_methods",
         "type":"checkbox",
         "label":"Mostra metodi di pagamento",
         "default":true
      },
      {
         "id":"copyright",
         "type":"textarea",
         "label":"Copyright"
      }
   ],
   "blocks":[
      {
         "name":"Links",
         "type":"links",
         "settings":[
            {
               "type":"text",
               "id":"title",
               "label":"Titolo"
            },
            {
               "id":"menu",
               "type":"menu_picker",
               "label":"Menu"
            }
         ]
      },
      {
         "name":"Infos",
         "type":"infos",
         "settings":[
            {
               "type":"text",
               "id":"title",
               "label":"Titolo"
            },
            {
               "type":"textarea",
               "id":"subtitle",
               "label":"Testo"
            }
         ]
      },
      {
         "name":"Image",
         "type":"image",
         "settings":[
            {
               "type":"image_picker",
               "id":"image",
               "label":"Immagine"
            }
         ]
      }
   ],
   "max_blocks":4,
   "locales":{
      
   },
   "templates":[
      
   ]
}  
{% endschema %}
{# djlint:on #}
