
<script>
  function headerToggleMenu() {
       const element = document.getElementById('mobile-menu')
       if (element.classList.contains("hidden")) {
            element.classList.remove("hidden")
       } else {
            element.classList.add("hidden")
       }
  }
</script>

<div class="border">
  <div class="py-5 px-8	lg:container flex justify-between items-center">
    <div class="flex items-center">
      <svg class="w-6 h-6 md:hidden mr-3"
           onClick="headerToggleMenu()"
           fill="none"
           stroke="currentColor"
           viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
      </svg>

      <a href="/">
        {% if section.settings.logo %}
          <img src="{{ section.settings.logo }}"
               alt="{{ organization.name }}"
               style="width: {{ section.settings.logo_width }}px"/>
        {% else %}
          {{ organization.name }}
        {% endif %}
      </a>
    </div>
    <div>
      <div class="flex items-center">
        {% if section.settings.menu %}
          <nav class="hidden md:block">
            {% for item in section.settings.menu.menu_items %}
              <a class="ml-8 hover:underline"
                 href="{{ item.link }}">{{ item.label }}</a>
            {% endfor %}
          </nav>
        {% endif %}
        {% if section.settings.main_campaign %}
          <a class="inline-block btn-primary btn-sm ml-8"
             href="/campaigns/{{ section.settings.main_campaign.slug }}/donate">
            <span class="text-white">Dona ora</span>
          </a>
        {% endif %}
        <div class="ml-8">
          {% include "snippets/user-menu.html" %}
        </div>
      </div>
    </div>
  </div>

  <div id="mobile-menu"
       class="hidden">
    {% if section.settings.menu %}
      <nav class="text-center">
        {% for item in section.settings.menu.menu_items %}
          <a class="ml-8 hover:underline block my-4"
             href="{{ item.link }}">{{ item.label }}</a>
        {% endfor %}
      </nav>
    {% endif %}
  </div>
</div>

{% schema %}
  {
  "name":"Header",
  "settings": [
  {
  "id":"logo",
  "type":"image_picker",
  "label":"Logo image"
  },
  {
  "id":"logo_width",
  "type":"slider",
  "label":"Logo width",
  "min": 50,
  "max": 250,
  "default": 100
  },
  {
  "id": "menu",
  "type": "menu_picker",
  "label": "Main navigation",
  "default": "main-menu"
  },
  {
  "id": "main_campaign",
  "type": "campaign_picker",
  "label": "Main Campaign"
  }
  ],
  "locales":{
  "en":{
  "title":"Header"
  },
  "it":{
  "title":"Header"
  }
  }
  }
{% endschema %}
