<div class="border sticky">
  <div class="py-4 px-8	lg:container flex justify-between items-center">
    {% if section.settings.logo %}
      <img src="{{ section.settings.logo }}" style="width: {{ section.settings.logo_width }}px"/>
    {% else %}
      {{ organization.name }}
    {% endif %}
    <div>
        {% if section.settings.menu %}
          <nav class="hidden md:block">
            {% set menu_items=menuitems.filter(menu__handle=section.settings.menu) %}

            {% for item in menu_items %}
              <a class="ml-4 font-bold" href="{% nav item %}">
                {{ item.label}}
              </a>
            {% endfor %}
          </nav>
      {% endif %}
    </div>

  </div>
</div>

{% schema %}
{
  "name":"Header",
  "settings": [
    {
      "id":"logo",
      "type":"image_picker",
      "label":"Logo image"
    },
    {
      "id":"logo_width",
      "type":"slider",
      "label":"Logo width",
      "min": 50,
      "max": 250,
      "default": 100
    },
    {
      "id":"position",
      "type":"select",
      "label":"Logo Position",
      "options":[
        {
          "value":"left",
          "label":"Left"
        },
        {
          "value":"center",
          "label":"Centered"
        }
      ]
    },
    {
      "id": "menu",
      "type": "menu_picker",
      "label": "Main navigation",
      "default": "main-menu"
    }
  ],
  "locales":{
    "en":{
      "title":"Header"
    },
    "it":{
      "title":"Header"
    }
  }
}
{% endschema %}