
<div class="container pb-20">
  <h1 class="mt-10 mb-10">{{ blog.title }}</h1>

  {% with article=blog.articles.first() %}
    <a href="{{ article.url }}"
       class="mb-10 block">
      <div class="bg-gray-200">
        {% if article.cover %}
          <img class="w-full h-96 object-cover rounded-lg"
               src="{{ article.cover.full }}"
               alt="{{ article.title }}"/>
        {% endif %}
        <div class="text-center py-4 h-48 px-20">
          <h4 class="mt-5">{{ article.title }}</h4>
          <div class="text-xs mt-2 mb-2 text-gray-600 uppercase">{{ article.create_date.strftime('%d %B %Y') }}</div>
          {% if article.content %}<p class="truncate">{{ article.content|striptags|truncate(350)}}</p>{% endif %}
        </div>
      </div>
    </a>
  {% endwith %}

  <div class="md:mx-24 lg:mx-48">
    {% for article in blog.articles.all()[1:]  %}
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mb-10">
        <div>
          {% if article.cover %}
            <a href="{{ article.url }}">
              <img class="w-full h-96 object-cover rounded-lg"
                   src="{{ article.cover.full }}"
                   alt="{{ article.title }}"/>
            </a>
          {% endif %}
        </div>
        <div class="relative">
          <div class="text-xs mt-2 mb-2 text-gray-600 uppercase">{{ article.create_date.strftime('%d %B %Y') }}</div>
          <a href="{{ article.url }}">
            <h4 class="mt-5">{{ article.title }}</h4>
          </a>
          {% if article.content %}<p class="truncate">{{ article.content|striptags|truncate(450)}}</p>{% endif %}

          <a class="absolute bottom-10 uppercase text-sm underline font-bold" href="{{ article.url }}">
            Leggi tutta la storia
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
  "name": "Blog Details",
  "limit": 1,
  "settings": [],
  "locales": {},
  "templates": ["blog"]
  }
{% endschema %}
