{% if project.cover %}
  <img src="{{ project.cover.full }}" alt="{{ project.title }}" class="object-cover h-96 w-full rounded-xl"/>
{% endif %}
<div class="lg:container mb-20 px-5 md:px-0">
  <h2 class="my-10">{{ project.title }}</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for campaign in project.campaigns %}
      {% include "snippets/campaign-card.html" %}
    {% endfor %}
  </div>
</div>

{# djlint:off #}
{% schema %}
  {
  "name": "Main Project",
  "settings": [],
  "max_blocks": 0,
  "blocks": [],
  "locales": {},
  "templates": ["article", "homepage", "page", "product"]
  }
{% endschema %}
