
<div class="container mx-aut mb-20">
  <h1 class="mt-10 mb-10">{{ campaign.title }}</h1>
  <div class="grid grid-cols-7 gap-4">
    <div class="col-span-5">
      <img src="{{ campaign.cover.full }}"
           alt="{{ campaign.title }}"
           class="object-cover h-96 w-full rounded-lg"/>
      <div class="mt-8 mb-4 border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
            <li class="mr-2" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Campagna</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Aggiornamenti</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Donatori</button>
            </li>
            <li role="presentation">
                <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Community</button>
            </li>
        </ul>
      </div>
      <div id="myTabContent">
        <div class="hidden" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="mt-10 text-xl font-light leading-10">{{ campaign.content }}</div>
        </div>
        <div class="hidden" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
        </div>
        <div class="hidden" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
        </div>
        <div class="hidden" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
          {% for peer_campaign in campaign.peer_campaigns.all() %}
          <a href="/campaigns/{{ campaign.slug }}/{{ peer_campaign.slug }}" class="flex items-center mb-4 rounded items-space-between mb-4 p-4 hover:bg-gray-100">
            <img class="w-12 h-12 mr-4 rounded-full object-cover object-center" src="{{ peer_campaign.supporter.image.file.url }}" alt="{{ peer_campaign.supporter_name }}" />
            <div>
              <h3 class="text-gray-800 text-md font-bold">{{ peer_campaign.supporter_name }}</h3>
              <p class="text-gray-800 text-md">{{ peer_campaign.custom_message }}</p>
            </div>
            <div class="flex flex-col items-end ml-auto">
              <h3 class="text-gray-800  text-2xl">{{ stats.amount }} €</h3>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="shadow-md border rounded-lg px-5 py-8 sticky top-4">
        <div class="flex items-end">
          <h3 class="text-gray-800  text-2xl">{{ stats.amount }} €</h3>
          <span class="text-gray-500 ml-2 font-bold text-md">raccolti</span>
          {% if campaign.goal %}<span class="text-gray-500 ml-2 font-bold text-md">di {{ campaign.goal }} €</span>{% endif %}
        </div>

        <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700 my-4">
          <div class="bg-[color:var(--primary-bg-color)] h-1.5 rounded-full"
               style="width: 45%"></div>
        </div>

        <div class="text-sm text-gray-500">{{ stats.total_donations }} donazioni</div>

        <div class="mt-8">
          <a class="block btn-primary"
             href="/campaigns/{{ campaign.slug }}/donate">Dona ora</a>

          {% if campaign.allow_peer_to_peer %}
          <a class="block btn-outline mt-2"
            href="/campaigns/{{ campaign.slug }}/fundraise">Raccogli donazioni</a>
          {% endif %}

          <a class="block mt-2 btn-outline"
             href="">Condividi</a>
        </div>
      </div>
    </div>
  </div>
</div>

{# djlint:off #}
{% schema %}
  {
  "name": "Campaign Details",
  "limit": 1,
  "settings": [],
  "locales": {},
  "templates": ["campaign"]
  }
{% endschema %}
