<div class="container mx-auto mb-20">
  <h1 class="my-5 font-bold md:my-10">{{ campaign.title }}</h1>
  <div class="grid grid-cols-9 gap-8">
    <div class="col-span-9 lg:col-span-6">
      {% if campaign.cover %}
        <img src="{{ campaign.cover.large }}"
             alt="{{ campaign.title }}"
             class="object-cover h-72 md:h-96 w-full rounded-xl" />
      {% endif %}


      <div class="flex gap-5 mt-10">
        {% if peer_campaign.supporter_image %}
          <img class="w-12 h-12 rounded-full object-cover object-center"
                src="{{ peer_campaign.supporter_image }}"
                alt="{{ peer_campaign.supporter_name }}"/>
        {% endif %}
        <div>
          <h3 class="uppercase text-gray-500 text-sm">Informazioni Fundraiser</h3>
          <h2 class="text-gray-800 text-3xl font-bold">{{ peer_campaign.supporter_name }}</h2>
        </div>
      </div>

      <div class="my-5">
        <h3 class="text-base uppercase">Perché sto raccogliendo fondi?</h3>
        <p class="text-lg mt-2">
          {{ peer_campaign.custom_message }}
        </p>
      </div>

      <hr class="mt-5"/>

      <div class="lg:hidden my-5">
        {% with hide_total_donated=section.settings.hide_total_donated, hide_total_donations=section.settings.hide_total_donations %}
          {% include "snippets/campaign-donate-box.html" %}
        {% endwith %}
      </div>

      
      {% if campaign.content|length > 2500 %}
        <div class="md:mt-10 relative max-h-[1000px] overflow-hidden"
             id="description-container">
          {{ campaign.content }}
          <div class="bg-gradient-to-t from-white to-transparent h-40 w-full absolute bottom-0 left-0"></div>
        </div>
        <button class="mt-4 text-blue-500 py-2 rounded underline"
                onclick="toggleDescription()"
                id="show-all-btn">Mostra tutto</button>
        <a class="my-10 block btn-primary"
           href="/campaigns/{{ campaign.slug }}/donate">Dona ora</a>
      {% else %}
        <div class="md:mt-10 relative max-h-[1000px] overflow-hidden"
             id="description-container">{{ campaign.content }}</div>
      {% endif %}

      {% if campaign.public_donations_count > 0 %}
        <div class="hidden" id="donations">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {% for donation in campaign.public_donations %}
              <div class="border py-4 px-8">
                <h5 class="font-bold">{{ donation.supporter.full_name }}</h5>
                {{ donation.amount }} €
                <p class="text-gray-600 text-sm mt-3 richtext">{{ donation.message }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
    <div class="col-span-3 hidden lg:block">
      {% if campaign.is_lead %}
        {% include "snippets/campaign-lead-box.html" %}
      {% else %}
        {% with hide_total_donated=section.settings.hide_total_donated, hide_total_donations=section.settings.hide_total_donations %}
          {% include "snippets/campaign-donate-box.html" %}
        {% endwith %}

        {% include "snippets/campaign-cost-examples.html" %}
      {% endif %}
    </div>
  </div>
</div>


{# djlint:off #}
{% schema %}
{
"name": "Peer Campaign Details",
"limit": 1,
"settings": [],
"locales": {},
"templates": ["peer_campaign"]
}
{% endschema %}