@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-light text-4xl;
  }

  h2 {
    @apply font-normal text-4xl;
  }

  h3 {
    @apply font-light text-3xl;
  }

  h4 {
    @apply font-light text-2xl;
  }

  h5 {
    @apply font-light text-lg;
  }

  ol {
    @apply list-decimal list-inside;
  }

  ul {
    @apply list-disc list-inside;
  }

  

  a {
    @apply text-blue-500
  }

  .input {
    @apply border rounded w-full text-sm p-2 text-gray-700 focus:outline-none;
  }

  textarea.input {
    @apply min-h-[300px]
  }
}

@layer components {
  .btn-primary {
    @apply text-center px-8 md:px-12 py-2 md:py-3 md:text-lg font-semibold text-[var(--primary-fg-color)] bg-[color:var(--primary-bg-color)] rounded-sm;
  }

  .btn-sm {
    @apply px-4 md:px-8 py-1 md:py-2 md:text-sm;
  }

  .btn-outline {
    @apply text-center px-12 py-2 md:py-3 md:text-lg font-semibold text-[var(--primary-bg-color)] border border-[var(--primary-bg-color)] rounded-sm;
  }

  .ql-align-right {
    text-align: right;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-left {
    text-align: left;
  }

  .ql-video {
    width: 100%;
    height: 56.25vw;
    max-height: calc(800px / 16 * 9);
    
  }
}

@layer utilities {
  .richtext p {
    @apply text-lg lg:text-xl my-6 !important;
  }

  .richtext ol {
    @apply text-lg lg:text-xl my-6 !important;
  }

  .richtext ul {
    @apply text-lg lg:text-xl my-6 !important;
  }

  .richtext h1 {
    @apply font-light text-4xl !important;
  }

  .richtext h2 {
    @apply font-light text-3xl !important;
  }

  .richtext h3 {
    @apply font-light text-2xl !important;
  }

  .richtext h4 {
    @apply font-light text-xl !important;
  }

  .richtext h5 {
    @apply font-light text-lg !important;
  }

  ul.campaign-tabs {
    @apply list-none !important;
  }
}
