
<div class="w-full max-w-xl mx-auto px-5 pb-10">
    <a href="{{supporter_urls.dashboard}}">Torna alla dashboard</a>
    <h1>Le mie campagne</h1>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Campagna
                </th>
                <th scope="col" class="px-6 py-3">
                    Totale raccolto
                </th>
            </tr>
        </thead>
        <tbody>
            {% for peer_campaign in peer_campaigns %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-blue-500 whitespace-nowrap dark:text-white">
                    <a href="{{ peer_campaign.campaign.url }}/{{ peer_campaign.slug }}">{{ peer_campaign.campaign }}</a>
                </th>
                <td class="px-6 py-4">
                    0
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>